@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


@import "tailwindcss";

@theme {
    --font-heading: "Manrope", sans-serif;
    --font-body: "Inter", sans-serif;
    --font-code: "JetBrains Mono", monospace;

    --text-heading: hsl(0, 0%, 100%);
    --text-muted: hsl(0, 0%, 90%);

    --color-white-0: hsl(0, 0%, 100%);
    --color-white-1: hsl(0, 0%, 90%);
    --color-white-2: hsl(0, 0%, 80%);

    --color-black-0: hsl(0, 0%, 0%);
    --color-black-1: hsl(0, 0%, 10%);
    --color-black-2: hsl(0, 0%, 20%);

    --color-primary-color: #7c3aed;
    --color-primary-color-shade-light: #a855f7;
    --color-primary-color-shade-dark: #4c1d95;
    --color-primary-color-shade-darker: hsl(265, 88%, 13%);
    --color-accent-color: #22d3ee;

    --color-background-color: #101427;
    --color-background-color-light: #181c2e;
    --color-background-color-lighter: hsl(229, 28%, 17%);;
    --color-background-color-dark: #040715;
    --color-background-color-darker: #0f001d;
}


@layer base {
    body {
        font-family: var(--font-body);
    }
}

* {
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

.profile-image {
    box-shadow: 1px 1px 24px var(--color-primary-color-shade-light);
    border: 2px solid var(--color-primary-color);
}

h4 {
    background: #0f001d;
}